@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
        box-sizing:border-box;
    outline:none;
    border:none;
    text-decoration:none;
    text-transform:capitalize;
    -webkit-transition:all .2s linear;
    transition:.2s linear;

}

body{
    background-color:#0b0c10;
}

html{
    font-size: 72.5%;
    overflow-x:hidden;
    scroll-behavior:smooth;
    scroll-padding-top:5rem;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:#fff;
}

html::-webkit-scrollbar-thumb{
    background: #10221b;
}

section{
    padding:5rem 9%;
}

.btn{
    margin-top:1rem;
    display:inline-block;
    border: 0.2rem solid #774152;
    color:#fff;
    cursor:pointer;
    background:none;
    font-size:1.7rem;
    padding:1rem 2rem;
}

.btn:hover{
    background:#9d7cb3;
    color:black;

}
/*header*/
.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #10221b;
}

.header{
    position:fixed;
    top:0; left:0; right:0;
    padding:2rem 9%;
    z-index: 1000;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}

.header.active {
  background:black;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}


.header .logo{
        margin-right:auto;
        font-size:2.5rem;
        color:#fff;
        font-weight:bolder;
}

.header .logo i{
        color:#fff;
}

.header .navbar a{
    margin-left:2rem;
    font-size:1.7rem;
    color:#fff;
}

.header .navbar a:hover{
        color:#56b6c4;

}

.header .navbar #nav-close{
    font-size:5rem;
    cursor:pointer
    color:#10221b;
    display: none;
}

.header .icons a,
.header .icons div{
    font-size:2.5rem;
    margin-left:2rem;
    cursor:pointer;
    color:#fff;
}


.header .icons a:hover,
.header .icons div:hover{
        color:#56b6c4;
}

.header #menu-btn{
    display:none;
}


.search-form{
    position: fixed;
    top:0; left:0;
    height:100%;
    width:100%;
    background:rgba(0,0,0,.8);
    display: flex;
    -webkit-box-align: center;
      -ms-flex-align: center;
    align-items:center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content:center;
    z-index:1000;
    -webkit-transform:translateY(-110%);
        transform:translateY(-110%);
}

.search-form.active{
      -webkit-transform: translateY(0%);
        transform:translateY(0%);

}
.search-form #close-search{
    position:absolute;
    top:1.5rem;
    right:2.5rem;
    cursor:pointer;
    color:#fff;
    font-size:6rem;
}

.search-form #close-search:hover{
    color:red;
}

.search-form form {
    width:70rem;
    margin:0 2rem;
    padding-bottom:2rem;
    border-bottom: .2rem solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
        align-items:center;
}

.search-form form input{
    width:100%;
    font-size:2rem;
    color:#fff;
    text-transform:none;
    background:none;
    padding-right: 2rem;
}

.search-form form input::-webkit-input-placeholder {
  color: #aaa;
}

.search-form form input:-ms-input-placeholder {
  color: #aaa;
}

.search-form form input::placeholder{
    color:#aaa;
}

.search-form form label{
    font-size: 3rem;
    cursor: pointer;
    color:#fff;
}

.search-form form label:hover{
    color:green;
}

/*contact*/
#overlay{
    width:100%;
    height:100%;
}

form{
    margin:auto;
    margin-top:100px;
    max-width:550px;
    width:90%;
    background:#c5c6c7;
    padding:17vh auto 0 auto;
    padding:40px;
    border-radius:5px;
    box-sizing:border-box;
    opacity:0.8;
}

 h1{
        margin:0;
        text-align:center;
}

label{
    display:block;
    margin:20px 0;
    font-size:20px;
}

input, textarea{
    width:100%;
     padding:10px;
    box-sizing:border-box;
    outline:none;
    resize:none;
    border:none;
    border-bottom:1px solid #d3d3d3;
}

input[type="text"]:focus, textarea:focus{
    border-bottom:1px solid black;
}

textarea::-webkit-scrollbar{
    width:4px;
}

textarea::-webkit-scrollbar-thumb{
    background-color:black;
}

.center{
    text-align:center;
}

input[type = "submit"]
{
    margin-top:30px;
    width:90%;
    max-width:200px;
    background:linear-gradient(to right, black, grey);
    color:white;
    font-size:17px;
    cursor:pointer;
    border-radius:3px;
}

.error{
    color:red;
}

.error-border{
    border-bottom: 1px solid red;
}

#success  {
    color:green;
}

/*newsletter*/

.newsletter{
    background:#0b0c10;
}

.newsletter .content{
    max-width: 70rem;
    margin:1rem 0;
    text-align:center;
    margin:auto;
}

.newsletter .content p{
    font-size:1.5rem;
    line-height:2;
    color:#c5c6c7;
}

.newsletter .content h1{
    color:#c5c6c7;
    font-size:25px;
}

.newsletter .content form{
    margin-top: 2rem;
    background:#c5c6c7;
    border-radius:5rem;
     border: 0.2rem solid #10221b;
    padding:.7rem;
    display:flex;
}

.newsletter .content form .email{
    width:100%;
    background:none;
    text-transform:none;
    font-size:1.5rem;
    color:black;
    padding:0 1.3rem;
}

.newsletter .content form .btn{
    margin-top: 0;
    border-radius:5rem;
    background:#100412;
    color:#fff;
}

.newsletter .content .btn:hover{
    background:none;
    color:black;
}

/*footer*/
.footer{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/footer-bg.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container{
    display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size:2rem;
    padding:1.5rem 0;
    color:#fff;
}

.footer .box-container .box a{
    display:block;
    font-size:1.4rem;
    color:white;
    padding:1rem 0;
}

.footer .box-container .box a i{
    color:#66fcf1;
    padding-right: .5rem;
}

.footer .box-container .box a:hover{
    color:#fff;
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}

.footer .credit{
    text-align:center;
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #fff;
}


.footer .credit span {
  color: #fff;
}

/*media center*/

@media(max-width:1200px){
    .header{
        padding:2rem;
    }

    section{
        padding:3rem 9%;
    }
}

@media(max-width:991px){

    html{
        font-size: 55%;
        scroll-padding-top:7rem;
    }

    .home .box{
        padding:2rem;
        justify-content:center;
        background-position:right !important;

    }

    .home .box .second{
        justify-content:center;
        background-position:left !important;
    }

    .home .box .content{
        text-align:center;
    }

    .home .box .content span{
        font-size:3rem;
    }

    .home .box .content h3{
        font-size: 4rem;

    }

    .category2 .box-container .box video{
        height:200px;
        width:200px;
    }

}



@media (max-width:768px){

    .header #menu-btn{
            display:inline-block;
        }

    .header .navbar{
        position: fixed;
        top:0; left:-110%;
        background:black;
        color:#fff;
        z-index:10000;
        width:35rem;
        height:100%;
        display: -webkit-box;
       display: -ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
            flex-flow:column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items:center;
        -webkit-box-pack: center;
           -ms-flex-pack: center;
            justify-content:center;
    }

    .header .navbar.active{
        left:0;
         -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
                    box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
    }

    .header .navbar a{
        margin:1rem 0;
        font-size:3rem;
    }

    .header .navbar #nav-close{
        display:block;
        position:absolute;
        top:1rem;
        right:2rem;
        color:red;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after{
        display: none;

    }
}

@media(max-width:450px){
    html{
        font-size:50%
    }
}
